{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushi em Casa - Meu Carrinho</title>
    
    <link rel="stylesheet" href="{% static 'sushiemcasa/css/homepage_style.css' %}">
    <link rel="stylesheet" href="{% static 'sushiemcasa/css/pedidos_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" type="imagem/jpg" href="{%static 'sushiemcasa/images/LOGO.jpg' %}">

</head>
<body>

    <header class="barra-navegacao">
        <div class="logo">
            <img src="{% static 'sushiemcasa/images/LOGO.jpg' %}" alt="Logo Sushi em Casa">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'sushiemcasa:cardapio' %}">Home</a></li>
                <li><a href="{% url 'sushiemcasa:basket' %}" class="ativo">Basket</a></li>
                <li><a href="{% url 'sushiemcasa:orders' %}">Orders</a></li>
                <li><a href="{% url 'sushiemcasa:contato' %}">Contact</a></li>
            </ul>
        </nav>
        <div class="icone-usuario">
            <a href="#">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
    </header>

    <main class="container-pedidos" style="text-align: center;">
        <h1>Meu Carrinho</h1>
        <hr>
        <p style="margin-top: 20px; margin-bottom: 30px;">Seu carrinho de compras está vazio no momento.</p>
        
        <a href="{% url 'sushiemcasa:cardapio' %}" class="btn-submit">Voltar ao Cardápio</a>
    </main>

    <footer class="rodape">
        <div class="logo">
            <img src="{% static 'sushiemcasa/images/LOGO.jpg' %}" alt="Logo Sushi em Casa">
        </div>
        <div class="links-rodape">
            <h4>Navegação</h4>
            <ul>
                <li><a href="{% url 'sushiemcasa:cardapio' %}">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="{% url 'sushiemcasa:contato' %}">Contact</a></li>
                <li><a href="{% url 'sushiemcasa:orders' %}">Orders</a></li>
            </ul>
        </div>
        <div class="contato-rodape">
            <h4>Contact</h4>
            <p>770 E Ashland St Apt 1009, Brockton, MA 02302</p>
            <p>+1(239)7719811</p>
        </div>
    </footer>
</body>
</html>