{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Sushi em Casa</title>

    <link rel="shortcut icon" type="imagem/png" href="{% static 'sushiemcasa/images/LOGO.ico' %}">
    <link rel="stylesheet" href="{% static 'sushiemcasa/css/homepage_style.css' %}">
    <link rel="stylesheet" href="{% static 'sushiemcasa/css/contato_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" type="imagem/jpg" href="{%static 'sushiemcasa/images/LOGO.jpg' %}">



</head>
<body>

    <header class="barra-navegacao">
        <div class="logo">
            <a href="{% url 'sushiemcasa:cardapio' %}">
                <img src="{% static 'sushiemcasa/images/LOGO.jpg' %}" alt="Logo Sushi em Casa">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'sushiemcasa:cardapio' %}">Home</a></li>
                <li><a href="#">Basket</a></li>
                <li><a href="{% url 'sushiemcasa:orders' %}">Orders</a></li>
                <li><a href="{% url 'sushiemcasa:contato' %}" class="ativo">Contact</a></li>
            </ul>
        </nav>
        <div class="icone-usuario">
            <a href="#">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
    </header>

    <main class="contact-main-container">
        
 {% if messages %}
    <div style="max-width: 800px; margin: 20px auto; padding: 0 20px; text-align: center;">
        {% for message in messages %}
            <div style="background-color: {% if message.tags == 'success' %}#28a745{% else %}#dc3545{% endif %}; color: white; padding: 15px; border-radius: 5px; font-weight: bold;">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
        
        <ul class="contact-list">
            <li>
                <div style="display: flex; align-items: center; width: 100%; padding: 20px 10px;">
                    <i class="fas fa-phone icon"></i>
                    <span class="label">Phone</span>
                    <span class="info">+1 (239) 771-9811</span>
                </div>
            </li>
            <li>
                <a href="https://www.instagram.com/Sushiemcasausa" target="_blank">
                    <i class="fab fa-instagram icon"></i>
                    <span class="label">Instagram</span>
                    <span class="info">@Sushiemcasausa</span>
                </a>
            </li>
            <li>
                <div style="display: flex; align-items: center; width: 100%; padding: 20px 10px;">
                    <i class="fas fa-envelope icon"></i>
                    <span class="label">Email</span>
                    <span class="info">sushiemcasausa@gmail.com</span>
                </div>
            </li>
            <li>
                <a href="https://wa.me/12397719811?text=Ola%C3%A1%21%20Gostaria%20de%20saber%20mais%20sobre%20o%20meu%20pedido." target="_blank">
                    <i class="fab fa-whatsapp icon"></i>
                    <span class="label">WhatsApp</span>
                    <span class="info">+1 (239) 771-9811</span>
                </a>
            </li>
        </ul>

    <div class="feedback-form-section">
    <h2 class="feedback-msg">Leave Your Feedback:</h2>

   <form method="post" class="feedback-form">
        {% csrf_token %}
        
        <div class="form-field">
            {{ form.nome.label_tag }}
            {{ form.nome }}
        </div>
        
        <div class="form-field">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>

        <div class="form-field">
            {{ form.mensagem.label_tag }}
            {{ form.mensagem }}
        </div>
    
    <button type="submit" class="btn-submit">Enviar Feedback</button>    
</form>
    </div>

    </main>
    <footer class="rodape">
        <div class="logo">
            <img src="{% static 'sushiemcasa/images/LOGO.jpg' %}" alt="Logo Sushi em Casa">
        </div>
        <div class="links-rodape">
            <h4>Navegação</h4>
            <ul>
                <li><a href="{% url 'sushiemcasa:cardapio' %}">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="{% url 'sushiemcasa:contato' %}">Contact</a></li>
                <li><a href="{% url 'sushiemcasa:orders' %}">Orders</a></li>
            </ul>
        </div>
        <div class="contato-rodape">
            <h4>Contact</h4>
            <p>770 E Ashland St Apt 1009, Brockton, MA 02302</p>
            <p>+1(239)7719811</p>
        </div>
    </footer>

</body>
</html>