{% extends 'sushiemcasa/base.html' %}
{% load static %}

{% block title %}Sushi em Casa - Menu{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'sushiemcasa/css/homepage_style.css' %}">
{% endblock %}


{% block content %}
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <section class="secao-promocoes">
            <h2>Deals</h2>
            <div class="carrossel-container">
                <button class="seta seta-esquerda"><i class="fas fa-chevron-left"></i></button>
                <div class="carrossel-viewport">
                    <div class="carrossel-track">
                        <div class="cartao-promocao">
                            <div class="imagem-promocao">
                                <img src="{% static 'sushiemcasa/images/hot.png' %}" alt="hot filadélfia">
                            </div>
                            <div class="descricao-promocao">
                                <h3>Hot philladelphia</h3>
                                <p>20 pieces of fries with rice, salmon, chives, cream cheese, tare and sesame.</p> 
                                <div class="precos">
                                    <span class="preco-antigo">$ 23</span>
                                    <span class="preco-novo">$ 20</span>
                                </div>
                            </div>
                        </div>
                        <div class="cartao-promocao">
                            <div class="imagem-promocao">
                                <img src="{% static 'sushiemcasa/images/salmao.png' %}" alt="Promoção Combinado Salmão">
                            </div>
                            <div class="descricao-promocao">
                                <h3>Salmon Combination</h3>
                                <p>25 fresh pieces of salmon, including sashimi, California rolls and joys.</p> 
                                <div class="precos">
                                    <span class="preco-antigo">$ 28</span>
                                    <span class="preco-novo">$ 24</span>
                                </div>
                            </div>
                        </div>
                        <div class="cartao-promocao">
                            <div class="imagem-promocao">
                                <img src="{% static 'sushiemcasa/images/temaki.png' %}" alt="Promoção Temaki Hot">
                            </div>
                            <div class="descricao-promocao">
                                <h3>Temaki Hot</h3>
                                <p>Fried salmon temaki, cream cheese, rice and seaweed.</p>
                                <p><strong>$ 20</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="seta seta-direita"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>

        <hr class="separador">

        <section id="menu-principal" class="secao-menu">
            <div class="cabecalho-menu">
                <h2>Menu</h2>
                {% if categoria_selecionada %}
                    <a href="{% url 'sushiemcasa:cardapio' %}#menu-principal">All Sushis</a>
                {% endif %}
            </div>
            <div class="filtros-menu">
                {% for categoria in categorias %}
                    <a href="{% url 'sushiemcasa:lista_por_categoria' categoria.slug %}#menu-principal" class="botao-filtro {% if categoria.nome == categoria_selecionada %}ativo{% endif %}">{{ categoria.nome }}</a>
                {% endfor %}
            </div>

            <div class="produtos-grid">
                {% for produto in produtos %}
                <div class="produto-card">
                    {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                    {% endif %}
                    <div class="produto-info">
                        <h3>{{ produto.nome|upper }}</h3>
                        <p class="produto-descricao">{{ produto.descricao }}</p>
                        <p class="produto-preco">$ {{ produto.preco|floatformat:2 }}</p>

                        <form action="{% url 'sushiemcasa:add_to_cart' product_id=produto.id %}" method="post" class="add-to-cart-form">
                            {% csrf_token %}
                            <input type="number" name="quantity" value="1" min="1" class="quantity-input">
                            <button type="submit" class="add-to-cart-button">Add</button>
                        </form>
                        </div>
                </div>
                {% empty %}
                <p>Nenhum produto encontrado nesta categoria.</p>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock content %}


{% block extra_js %}
    <script src="{% static 'sushiemcasa/js/carrossel.js' %}"></script>
    <script src="{% static 'sushiemcasa/js/filtros.js' %}"></script> 
{% endblock %}