{% extends 'sushiemcasa/base.html' %}
{% load static %}

{% block title %}Sushi em Casa - My Orders{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'sushiemcasa/css/pedidos_style.css' %}">
{% endblock %}


{% block content %}
    <main class="container-pedidos">
        <h1>My Orders</h1>

        {% if pedidos %}
            {% for pedido in pedidos %}
                 <div class="pedido">
                    <div class="pedido-header">
                        <h2>Order #{{ pedido.id }}</h2>
                        <span class="pedido-status status-{{ pedido.status|slugify }}">{{ pedido.get_status_display }}</span>
                    </div>
                    <p><strong>Costumer:</strong> {{ pedido.user.username }}</p>
                    <p><strong>Order date:</strong> {{ pedido.created_at|date:"d/m/Y H:i" }}</p>
                    {% if pedido.delivery_datetime %}
                        <p><strong>Scheduled delivery for:</strong> {{ pedido.delivery_datetime|date:"d/m/Y H:i" }}</p>
                    {% else %}
                        <p><strong>Delivery:</strong> ASAP</p>
                    {% endif %}
                    <h4>Itens:</h4>
                    {% for item in pedido.items.all %}
                        <div class="item-pedido">
                            <span>{{ item.quantity }}x {{ item.item_name }}</span>
                            <span>$ {{ item.price }}</span>
                        </div>
                    {% endfor %}
                    <hr>
                    <p><strong>Total: $ {{ pedido.total_price }}</strong></p>
                    </div>
                    {% if pedido.status != 'Cancelado' %}
                        <div class="stepper-wrapper">
                            <div class="stepper-item {% if pedido.status == 'Pendente' or pedido.status == 'Em preparo' or pedido.status == 'A caminho' or pedido.status == 'Entregue' %}completed{% endif %}">
                                <div class="step-counter"><i class="fas fa-check"></i></div>
                                <div class="step-name">Order Accepted</div>
                            </div>
                            <div class="stepper-item {% if pedido.status == 'Em preparo' or pedido.status == 'A caminho' or pedido.status == 'Entregue' %}completed{% endif %}">
                                <div class="step-counter"><i class="fas fa-utensils"></i></div>
                                <div class="step-name">In preparation</div>
                            </div>
                            <div class="stepper-item {% if pedido.status == 'A caminho' or pedido.status == 'Entregue' %}completed{% endif %}">
                                <div class="step-counter"><i class="fas fa-truck"></i></div>
                                <div class="step-name">Redy to pickup</div>
                            </div>
                            <div class="stepper-item {% if pedido.status == 'Entregue' %}completed entregue{% endif %}">
                                <div class="step-counter"><i class="fas fa-box-open"></i></div>
                                <div class="step-name">Delivered</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No orders registered yet.</p>
        {% endif %}
    </main>
{% endblock content %}